body,
html {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  background: #d9d6d6;
  /* color: white !important; */
}

.navbar {
  font-size: x-large;
  background-color: rgb(252, 250, 250) !important;
}

.navbar-brand {
  font-size: x-large;
  /* color: white !important; */
}

.nav-link {
  /* color: white !important; */
}

.dropdown-menu {
  font-size: large;
}

.hero-section {
  position: relative;
  height: 75vh;
  width: 100%;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center
}

.hero-section .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main-button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.main-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.main-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.yapp-text {
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
  letter-spacing: 2px;
}


/*Cards Section*/

.card {
  width: 360px;
  height: 254px;
  border-radius: 15px;
  background: #f5f5f5;
  position: relative;
  padding: 1.5rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  align-items: center;
}

.text-title {
  text-align: center;
}

.text-body {
  margin-right: 10px;
  text-align: left;
  text-wrap: nowrap;
}

.card-details {
  color: black;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #0284e8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/*Cards Section End*/


.cards {
  max-width: 300rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.cards a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
}

.image img {
  width: 100%;
  height: 150px;
  border-radius: 0.35rem;
  object-fit: cover;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100px;
  justify-content: left;
  font-size: large;
}

/* From Uiverse.io by KINGFRESS */
.second-button {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.second-button .span-mother {
  display: flex;
  overflow: hidden;
}

.second-button:hover .span-mother {
  position: absolute;
}

.second-button:hover .span-mother span {
  transform: translateY(1.2em);
}

.econd-button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.second-button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.second-button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.second-button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.second-button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.second-button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.second-button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.second-button .span-mother2 span {
  transform: translateY(-1.2em);
}

.second-button:hover .span-mother2 span {
  transform: translateY(0);
}

.second-button .span-mother2 span {
  transition: 0.2s;
}

.second-button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.second-button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.second-button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.second-button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.second-button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}